/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.h1, .h2, .h3, .h4, .h5, a, hr {
  margin-top: 1.25em;
  margin-left: -0.5em;
}

hr {
  margin-bottom: 1.25em;
}

body {
  color: #4a4a4a;
  background-color: #fafbfc;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  max-width:100%;
  max-height:100%;
  height: auto;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
}

/* .posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
} */

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.75em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.site content {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #f7faff;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.motto {
  width: 100%;
  color: #d9dee0;
  font-weight: 100;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.sidebar-info {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.sidebar-info li {
  list-style-type: none;
  text-align: center;
  line-height: 1.75em;
  font-weight: bold;
  color:
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

#cover-photo-container,
#info-container {
  display: block;
}

#info-container {
  margin-top: 3em;
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.35em;
  font-size: 3em;
  line-height: 40px;
  text-transform: uppercase;
}

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
}

.post a,
#about a {
  border-bottom: 1px solid #8085C1;
  margin-left: 0em;
}

.post h2, .post h1 {
  margin-top: 0.5em;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 17px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  text-align: left;
}

.post img {
  width: 100%;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  white-space: pre-wrap;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-tag,
.post-category {
  display: inline-block;
  margin-right: .5rem;
  border-radius: 4px;
  font-size: 90%;
  transition-timing-function: ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}

.post-tag {
  background-image: url(../images/tag-and-category/tag.png);
  padding-left: 1.2em;
  height: 1.2em;
}

.post-category {
  background-image: url(../images/tag-and-category/category.png);
  padding-left: 1.4em;
  height: 1em;
}

.post .emoji  {
  width: initial;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 14%;
  padding-left: 11em;
  padding-right: 2.125em;
  border-right: 1px solid #e7e7e7;
  background-image: url("/images/sidebar_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.content {
  padding-left: 2.125em;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

.post-date {
  color: #8a8a8a;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-transform: uppercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Tags & Categories
/*
/*****************************************************************************/

#tags-title,
#categories-title,
#latest-title {
  margin-top: 3em;
}

#latest-title {
  text-align: center;
}

.tags-expo-section h2,
.categories-expo-section h2 {
  padding-top: .3em;

  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}

.tags-expo-section h2 {
  background-image: url(../images/tag-and-category/tag.png);
  padding-left: 1.5em;
}

.categories-expo-section h2 {
  background-image: url(../images/tag-and-category/category.png);
  padding-left: 1.8em;
}

.tags-expo-section ul,
.categories-expo-section ul {
  margin-bottom: 1em;
  margin-left: 1em;
  line-height: 1em;
  font-size: .75em;
}

.tags-expo-section ul li ,
.categories-expo-section ul li {
  transition-timing-function: ease-in-out;
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
}

/*****************************************************************************/
/*
/* kmarkdown Blockquote
/*
/*****************************************************************************/

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
