<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="site">
    <div class="sidebar" id="sidebar">
      <div class="header">
        <h1 class="title"><a href="/about"><img id="logo" src="/images/logo.png"></a></h1>
        <span class="tagline">He(Heva) Wu's Blog</span>
        <span class="motto">I may not be there yet, but I'm closer than I was yesterday. </span>
        <span class="motto">(￣︶￣)↗[GO!]</span>
      </div>
      <div class="posts">
        <ul class="posts-list">
          {% for post in site.posts %}
          <li class="post-link">
            <a class="post-title" href="{{ post.url }}">
              <span class="post-date">{{ post.date | date_to_string }}</span>
              {{ post.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer">
        <span id="footer-links">
          <a href="/about" class="footer-link">About</a> <span class="separator">&bull;</span>
          <a href="https://www.linkedin.com/in/he-heva-wu-2a6819113/" class="footer-link">LinkedIn</a> <span class="separator">&bull;</span>
          <a href="https://github.com/HevaWu" class="footer-link">GitHub</a>
        </span>
      </div>
    </div>

    {{ content }}

  </div>
  <script src="/scripts/responsive.js" type="text/javascript"></script>
</body>

</html>